$mobile-max-width: 575px;
$mobile-landscape-breakpoint: 576px;
$mobile-landscape-max-width: 540px;
$tablet-breakpoint: 768px;
$tablet-max-width: 720px;
$tablet-landscape-breakpoint: 992px;
$tablet-landscape-max-width: 930px;
$computer-breakpoint: 1200px;
$computer-max-width: 1125px;