@import "../../styles/_variables";
$gap: 30px;

.grid {
    column-gap: $gap;
    grid-template-columns: 1fr;
    padding: 100px 0;
    @media (min-width: $tablet-landscape-breakpoint) {
        grid-template-columns: 65% 35%;
    }
}
.flex-column {
    & *:not(:last-child) {
        margin-bottom: $gap;
    }
}