@import "../../../styles/variables";

.banner {
    background: linear-gradient(to right, #000046, #1cb5e0);
    padding: 100px 0;
    h1 {
        font-family: "Bebas Neue";
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        @media (min-width: $tablet-breakpoint) {
            font-size: 2rem;
        }
    }
    p {
        margin-bottom: 0;
    }
}