footer {
    background-color: var(--lighter-black-color);
    color: var(--white-color);
    padding: 25px 0;
    small {
        display: block;
        font-size: 75%;
        text-align: center;
    }
}