<main>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="container">
            <button mat-icon-button (click)="onToggle()" class="display-tablet">
                <mat-icon>menu</mat-icon>
            </button>
            <a [routerLink]="['/']" class="brand">Jonathan Bernard</a>
            <a mat-button [routerLink]="['/portfolio']">Portfolio</a>
            <a mat-button [routerLink]="['/about']">About</a>
            <a mat-button [routerLink]="['/contact']">Contact</a>
            <a href="https://www.linkedin.com/in/jonathanbernard-developer/" mat-icon-button title="LinkedIn">
                <fa-icon [icon]="faLinkedin"></fa-icon>
            </a>
            <a href="https://github.com/jonathanb-dev" mat-icon-button title="Github">
                <fa-icon [icon]="faGithub"></fa-icon>
            </a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <a mat-button [routerLink]="['/portfolio']">Portfolio</a>
            <a mat-button [routerLink]="['/about']">About</a>
            <a mat-button [routerLink]="['/contact']">Contact</a>
        </mat-sidenav>
        <mat-sidenav-content>
            <app-banner></app-banner>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>